@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</div>
