@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/css/Appointments.css" rel="stylesheet" />
</head>

<div>
    <h1 v-if="user?.fk_Role === 1"><strong>Administrador de Citas</strong></h1>
    <h1 v-else><strong>{{ user?.fk_Role !== 3 ? 'Agendar cita' : 'Lista de citas'}}</strong></h1>

    <div v-if="user?.fk_Role !== 3 || user?.fk_Role === 1" class="card shadow mb-2">
        <div class="card-body">
            <div class="d-flex">
                <div class="form-group">
                    <label for="municipality">Seleccione un municipio:</label>
                    <select class="shadow form-control" id="municipality" v-model="selectedMunicipality" v-on:change="onMunicipalityChange">
                        <option value="" disabled selected>Seleccione un municipio</option>
                        <option v-for="municipality in municipalities" :value="municipality.id">{{ municipality.name}}</option>
                    </select>
                </div>

                <div class="form-group" v-if="selectedMunicipality">
                    <label for="consultory">Seleccione un consultorio:</label>
                    <select class="shadow form-control" id="consultory" v-model="selectedConsultory" v-on:change="onConsultoryChange">
                        <option value="" disabled selected>Seleccione un consultorio</option>
                        <option v-for="consultory in consultories" :value="consultory.id">{{ consultory.name }}</option>
                    </select>
                </div>

                <div class="form-group" v-if="selectedConsultory">
                    <label for="doctor">Seleccione un doctor:</label>
                    <select class="shadow form-control" id="doctor" v-model="selectedDoctor">
                        <option value="" disabled selected>Seleccione un doctor</option>
                        <option v-for="doctor in doctors" :value="doctor.id">{{ doctor.name }}</option>
                    </select>
                </div>
            </div>

            <div id="map" class="rounded-4 shadow mb-1" style="height: 300px; width: 100%; margin-top: 10px;" v-show="selectedMunicipality"></div>

            <div class="form-group">
                <label class="mt-4" for="notes">Motivos de consulta:</label>
                <textarea class="shadow custom-fields" style="max-height:300px; min-height:100px;" id="notes" v-model="notes" placeholder="Escribe aquí..."></textarea>
            </div>

            <div>
                <button class="btn btn-primary"
                        style="width: 100%;"
                        @@click="submitAppointment"
                        :disabled="isLoading || !selectedDoctor || !notes">
                    {{ isLoading ? 'Enviando...' : 'Enviar' }}
                </button>
            </div>

            <p v-if="showSuccessMessage" class="success-message">Cita creada con éxito</p>
            <p v-if="showErrorMessage" class="error-message">{{ errorMessage }}</p>
        </div>
    </div>
    <div v-if="user?.fk_Role !== 2">
        <div class="table-container card shadow">
            <table ref="appointmentsTable">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Creada</th>
                        <th>Asignada</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody ref="appointmentTable">
                    <tr v-for="appointment in appointments">
                        <td> {{appointment.patient}}</td>
                        <td> {{appointment.created}}</td>
                        <td> {{appointment.assigned}}</td>
                        <td> 
                            <select @@change=" updateAppointment(appointment)" v-model="currentStatuses[appointment.id]" class=" form-control">
                                <option :value="status.id" v-for="status in statuses"> {{status.name}}</option>
                            </select>
                        </td>
                        @* <td> {{appointment.status}}</td> *@
                        <td>
                            <a class="text-danger" @@click="deleteAppointment(appointment)" style="text-decoration: none; cursor:pointer;">
                                <i class="fa-solid fa-trash-can"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4T46dqB2GT8x840HtcI3oUosqm5P7Olc" async></script>
    <script>window.user = @Html.Raw(Json.Serialize(ViewBag.User));</script>
    <script src="~/js/Appointments.js" defer></script>
    <script src="~/js/Layout.js" defer></script>
}