@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/css/Appointments.css" rel="stylesheet" />
</head>

<div>
    <h1 v-if="user?.fk_Role === 1" class="text-primary text-center fw-bold mb-4">Administrador de Citas</h1>
    <h1 v-else class="text-primary text-center fw-bold mb-4">
        {{ user?.fk_Role !== 3 ? 'Agendar cita' : 'Lista de citas'}}
    </h1>

    <div v-if="user?.fk_Role !== 3 || user?.fk_Role === 1" class="table-container card shadow mb-4">
        <div class="card-body">
            <div class="d-flex flex-wrap gap-4">
                <!-- Municipio -->
                <div class="form-group flex-fill">
                    <label for="municipality">Municipio</label>
                    <select class="form-control shadow-sm" v-model="selectedMunicipality" v-on:change="onMunicipalityChange">
                        <option value="" disabled selected>Seleccione un municipio</option>
                        <option v-for="municipality in municipalities" :value="municipality.id">{{ municipality.name}}</option>
                    </select>
                </div>

                <!-- Consultorio -->
                <div class="form-group flex-fill" v-if="selectedMunicipality">
                    <label for="consultory">Consultorio</label>
                    <select class="form-control shadow-sm" v-model="selectedConsultory" v-on:change="onConsultoryChange">
                        <option value="" disabled selected>Seleccione un consultorio</option>
                        <option v-for="consultory in consultories" :value="consultory.id">{{ consultory.name }}</option>
                    </select>
                </div>

                <!-- Doctor -->
                <div class="form-group flex-fill" v-if="selectedConsultory">
                    <label for="doctor">Doctor</label>
                    <select class="form-control shadow-sm" v-model="selectedDoctor">
                        <option value="" disabled selected>Seleccione un doctor</option>
                        <option v-for="doctor in doctors" :value="doctor.id">{{ doctor.name }}</option>
                    </select>
                </div>
            </div>

            <!-- Mapa -->
            <div id="map" class="rounded-4 shadow-sm my-4" style="height: 300px;" v-show="selectedMunicipality"></div>

            <!-- Notas -->
            <div class="form-group">
                <label class="mt-3" for="notes">Motivos de consulta:</label>
                <textarea class="custom-fields shadow-sm" id="notes" v-model="notes" placeholder="Escribe aquí..."></textarea>
            </div>

            <!-- Botón enviar -->
            <div class="mt-3">
                <button class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-2"
                        @@click="submitAppointment"
                        :disabled="isLoading || !selectedDoctor || !notes">
                    <i class="fas fa-paper-plane"></i>
                    {{ isLoading ? 'Enviando...' : 'Enviar' }}
                </button>
            </div>

            <!-- Mensajes -->
            <p v-if="showSuccessMessage" class="success-message">Cita creada con éxito</p>
            <p v-if="showErrorMessage" class="error-message">{{ errorMessage }}</p>
        </div>
    </div>

    <!-- Tabla -->
    <div v-if="user?.fk_Role !== 2">
        <div class="table-container card shadow">
            <table ref="appointmentsTable">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Creada</th>
                        <th>Asignada</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="appointment in appointments">
                        <td>{{ appointment.patient }}</td>
                        <td>{{ appointment.created }}</td>
                        <td>{{ appointment.assigned }}</td>
                        <td>
                            <select @@change="updateAppointment(appointment)" v-model="currentStatuses[appointment.id]" class="form-control">
                                <option :value="status.id" v-for="status in statuses">{{ status.name }}</option>
                            </select>
                        </td>
                        <td>
                            <a class="text-danger" @@click="deleteAppointment(appointment)" style="cursor: pointer;">
                                <i class="fa-solid fa-trash-can"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4T46dqB2GT8x840HtcI3oUosqm5P7Olc" async></script>
    <script>window.user = @Html.Raw(Json.Serialize(ViewBag.User));</script>
    <script src="~/js/Appointments.js" defer></script>
    <script src="~/js/Layout.js" defer></script>
}