@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<head>
    @*Aquí vas a poner los estilos css que quieras implementar en la vista*@
</head>

<div>
    <h1 class="display-4">Bienvenido</h1>
    <p>{{user.name}}</p>
</div>

@section scripts{
    @*Aquí vas a consumir las APIs que vayas a utilizar*@
    <script>
        window.Index = '@Url.Action("Index", "Home")';
        window.user = @Html.Raw(Json.Serialize(ViewBag.User));
        // ...
    </script>
    @*Añade tus scripts en la carpeta "js" en wwwroot*@
    <script src="~/js/Index.js"></script>
}