@{
    ViewData["Title"] = "Tabla de Usuarios";
}

<div class="container">
    <h2>Tabla de Usuarios</h2>
</div>

<script src="~/js/userTable.js"></script>
<link rel="stylesheet" href="~/css/userTable.css">
