@{
    Layout = "_Layout";
    ViewData["Title"] = "Users";
}

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="~/css/Users.css" />
</head>

<div>
    <h1><strong>Lista de Usuarios</strong></h1>
    <div class="table-container card shadow">
        <table ref="userTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Rol</th>
                    <th>Status</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in users" :key="item.id_user">
                    <td>{{item.name.toUpperCase()}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.role}}</td>
                    <td :class="item.active === 'Activo' ? 'text-success' : 'text-danger'">{{item.active}}</td>
                    <td>
                        <a :class="item.active === 'Activo' ? 'text-danger' : text-success" 
                        v-on:click="blockUser(item)" 
                        style="text-decoration: none; cursor:pointer;">
                            <i :class="item.active === 'Activo' ? 'fas fa-lock' : 'fas fa-unlock-alt'"></i>
                            {{item.active === 'Activo' ? 'Bloquear' : 'Desbloquear'}}</a>
                    </td>
                </tr>
            </tbody>
            </table>
    </div>
</div>

@section scripts{

    @*Aquí vas a consumir las APIs que vayas a utilizar*@
    <script>window.user = @Html.Raw(Json.Serialize(ViewBag.User));</script>

	@*Añade tus scripts en la carpeta "js" en wwwroot*@
    <script src="~/js/Users.js" defer></script>
    <script src="~/js/Layout.js" defer></script>
}
