<<<<<<< HEAD
﻿@page "/Appointments"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
=======
﻿ @page "/appointments"

<h3>Appointments</h3>
@code {

}

>>>>>>> 82c210a333f0251a24bfe20e84ead1e22bb0cac7
