@page "/"
<div class="justify-content-centers align-content-center">
    <section class="gradient-custom">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div style="border-radius: 1rem;">
                        <div class="p-5 text-center">
                            @if (IsLogin)
                            {
                                <!-- Formulario de Login -->
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">Iniciar Sesión</h2>
                                    <p class="mb-5">Por favor, escribe tus credenciales.</p>

                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="loginEmail" class="form-control form-control-lg"
                                               @bind="Credentials.Email" />
                                        <label class="form-label" for="loginEmail">Email</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="loginPassword" class="form-control form-control-lg"
                                               @bind="Credentials.Password" />
                                        <label class="form-label" for="loginPassword">Contraseña</label>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5"
                                            type="button"
                                            @onclick="LoginAsync"
                                            disabled="@(string.IsNullOrWhiteSpace(Credentials.Email) || string.IsNullOrWhiteSpace(Credentials.Password))">
                                        Iniciar sesión
                                    </button>
                                </div>
                            }
                            else
                            {
                                <!-- Registro -->
                                <div class="mt-md-4" style="max-width: 900px; margin: 0 auto;">
                                    <h2 class="fw-bold mb-2 text-uppercase text-center">Registro</h2>
                                    <p class="mb-5 text-center">Crea tu cuenta rellenando los datos.</p>

                                    <div class="row justify-content-center">
                                        <div>
                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="registerName">Nombre</label>
                                                <input type="text" id="registerName" class="form-control form-control-lg"
                                                       @bind="NewUser.Name" />
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="registerEmail">Correo electrónico</label>
                                                <input type="email" id="registerEmail" class="form-control form-control-lg"
                                                       @bind="NewUser.Email" />
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="registerPhone">Número</label>
                                                <input type="tel" id="registerPhone" class="form-control form-control-lg"
                                                       @bind="NewUser.Phone" />
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="registerSex">Sexo</label>
                                                <select id="registerSex" class="form-control form-control-lg"
                                                        @bind="NewUser.fk_Sex">
                                                    <option class="text-center" disabled value="">Seleccione una opción</option>
                                                    <option value="1">Hombre</option>
                                                    <option value="2">Mujer</option>
                                                </select>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="registerPassword">Contraseña</label>
                                                <input type="password" id="registerPassword" class="form-control form-control-lg"
                                                       @bind="NewUser.Password" />
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <label class="form-label" for="registerConfirmPassword">Confirmar Contraseña</label>
                                                <input type="password" id="registerConfirmPassword" class="form-control form-control-lg"
                                                       @bind="ConfirmPassword" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- Enlace para cambiar de formulario -->
                            <div>
                                @if (IsLogin)
                                {
                                    <span>
                                        ¿No tienes cuenta?
                                        <a href="#" class="fw-bold" @onclick="(()=> IsLogin = false)">Regístrate</a>
                                    </span>
                                }
                                else
                                {
                                    <div class="form-outline form-white mb-4 mt-4">
                                        <button class="btn btn-outline-light btn-lg px-5"
                                                type="button"
                                                @onclick="RegisterAsync"
                                                disabled="@(string.IsNullOrWhiteSpace(NewUser.Email) || 
                                                            string.IsNullOrWhiteSpace(NewUser.Password) ||
                                                            string.IsNullOrWhiteSpace(NewUser.Name) ||
                                                            NewUser.fk_Sex == 0 ||
                                                            string.IsNullOrWhiteSpace(NewUser.Password) ||
                                                            string.IsNullOrWhiteSpace(NewUser.Password) ||
                                                            NewUser.Password != ConfirmPassword)">
                                            Registrarse
                                        </button>
                                        <p class="m-0">
                                            ¿Ya tienes una cuenta?
                                            <a href="#" class="fw-bold" @onclick="(()=> IsLogin = true)">Inicia sesión</a>
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>