@{
	@model WebServices.Models.Email;

    #pragma warning disable CS8600, CS8602
    Layout = null;  // Specify if there's a layout or not
    Email data = Model;
}

<!DOCTYPE html>
<html lang="en">
    <body style="font-family: Arial, sans-serif; padding: 20px;">
        <h2>Estimado Doctor: @data.user.Name</h2>

        <p>Se ha agendado una nueva cita médica.</p>

        <p><strong>Motivo de la visita o necesidades del paciente:</strong></p>
        <p>@data.message</p>

        <p>
            Gracias por su atención,<br>
            <strong>SistemadeConsultasMedicas_8A</strong>
        </p>
    </body>
</html>