@{
    @model WebServices.Models.Email;

    #pragma warning disable CS8600, CS8602
    Layout = null;  // Specify if there's a layout or not
    Email data = Model;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>¡Noticias para la Visita!</title>
    </head>
    <body>
        <h2>Hola @data.user.Name,</h2>

        <p>¡Gracias por agendar tu cita médica con nosotros!</p>

        <p>Te confirmamos que tu cita ha sido registrada exitosamente. Estamos listos para atenderte y asegurarnos de que recibas el mejor cuidado posible.</p>

        <p><strong>Consultorio:</strong> @data.consultory.Name</p>
        <p>
            <strong>Fecha:</strong> @DateTime.Now.ToString("dd/MM/yyyy") <br>
            <strong>Hora:</strong> @DateTime.Now.ToString("HH:mm")
        </p>


        <p>Si tienes alguna duda o necesitas reprogramar tu cita, no dudes en contactarnos.</p>

        <p>Gracias por confiar en <strong>Sistema de Consultas Médicas 8A</strong>.</p>

        <p>Atentamente,<br>El equipo de atención</p>

    </body>
</html>