@{
    Layout = null;  // Specify if there's a layout or not
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Noticias para la Visita!</title>
</head>
<body>
    <h2>¡Hola!</h2>
    <p>Ya tienes cita para tu visita.</p>

    <p>Gracias, de parte de <br>SistemadeConsultasMedicas_8A</p>  <!-- Directly hard-coded App Name -->
</body>
</html>

